/* App.module.css */
.container {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .formContainer {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formGroup input {
    width: 30%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .addContactButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .addContactButton:hover {
    background-color: #0056b3;
  }
  
  .contactsTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .filterInput {
    width: 30%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .contactListItem {
    margin-bottom: 10px;
  }
  
  .notification {
    position: fixed;
  top: 20px;  
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px; 
  }
  